name: Build & Deploy to PROD

on:
  release:
    types: [published]
    branches: [main]

  workflow_call:
    inputs:
      tag_name:
        description: Docker image tag / Release tag
        required: true
        type: string
      target_commitish:
        description: Branch to build from
        required: true
        type: string

jobs:
  deploy:
    if: ${{ inputs.target_commitish == 'main' || github.event.release.target_commitish == 'main' }}
    name: Build & Deploy
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      RELEASE_TAG: ${{ inputs.tag_name || github.event.release.tag_name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ env.RELEASE_TAG }}

      # Enable multi-arch
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}},value=${{ env.RELEASE_TAG }}
            type=semver,pattern={{major}}.{{minor}},value=${{ env.RELEASE_TAG }}
            type=semver,pattern={{major}},value=${{ env.RELEASE_TAG }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          secrets: github_token=${{ secrets.GH_PAT }}
